.add-inputs {
    flex-direction: column;
}

.add-container {
    flex-direction: column;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    margin-bottom: 10px;
}

.add-container textarea {
    resize: none;
    border: none;
}

.add-container input {
    border: none;
    padding: 5px;
}

.btn-container>* {
    padding: 5px 20px;
    justify-content: space-between;
}

.icons {
    display: inline-block;
    width: 30px;
}

.NoteTxt svg {
    width: 25px;
}

.NoteTodos svg {
    width: 30px;
}

.NoteImg svg {
    width: 30px;
}

.NoteVideo svg {
    width: 35px;
}


/* MEDIUM */

@media (min-width: 700px) {
    .add-container {
        width: 80%;
    }
    .btn-container>* {
        gap: 20px;
        justify-content: center;
    }
}


/* LARGE */

@media (min-width: 1100px) {
    .add-container {
        width: 60%;
    }
}