.note-list>* {
    column-count: 1;
    column-width: 300px;
    width: 100%;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid
}

.note-preview img {
    width: 200px;
}

iframe {
    width: 250px;
    height: 140.625px;
}

.note-container {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    break-inside: avoid;
    break-before: avoid;
    break-after: avoid;
    page-break-before: avoid;
    display: inline-block;
}


/* .note-preview {
    padding: 10px;
    display: inline-block;
    margin: 10px;
} */

h4 {
    display: block;
}

.note-img img,
.note-video iframe {
    width: 100%;
    text-align: center;
}

.edit-icons {
    margin-top: 10px;
}


/* MEDIUM */

@media (min-width: 700px) {
    .note-list>* {
        column-count: 2;
        column-width: 200px;
    }
}


/* LARGE */

@media (min-width: 1100px) {
    .note-list>* {
        column-count: 4;
        /* column-width: 150px; */
    }
}