.main-header {
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: rgb(212, 212, 212);
}

.nav-container {
    height: 100%;
}

.nav-links>* {
    margin-left: 10px;
}

.main-nav li {
    color: inherit;
    height: 80px;
    width: 100px;
}

.keep-icon svg {
    width: 15px;
}


/* SIDE MENU */

@media (max-width: 700px) {
    .main-screen {
        position: fixed;
        /* z-index: 1; */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity .8s;
    }
    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        background-color: rgba(255, 255, 255, .9);
        height: 100vh;
        border-left: 1px solid #ebebeb;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .16);
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .main-nav>*:not(:last-child) {
        margin: 0;
    }
    .main-nav>* {
        border-bottom: 1px solid #ebebeb;
    }
    .main-nav a {
        display: block;
        width: 200px;
        height: 50px;
        color: #1d1d1d;
        text-align: center;
        padding: 12px 0;
        transition: background-color .1s;
    }
    .main-nav a:hover {
        color: #51d1c0;
        background-color: #f1f1f1;
    }
}