.home {
    gap: 60px;
    height: 550px;
    flex-direction: column;
}

.home>* {
    text-align: center;
    justify-content: center;
}

.apps-icons {
    gap: 30px;
}

.home .keep-icon svg {
    width: 50px;
    height: 80px;
    fill: #63135e;
}

.home .book-icon svg {
    width: 60px;
    height: 80px;
    fill: #f6485f;
}

.home .mail-icon svg {
    width: 75px;
    height: 80px;
    fill: #343867;
}

.home img {
    width: 350px;
    margin-bottom: 20px;
}


/* MEDIUM */

@media (min-width: 700px) {
    .home .keep-icon svg {
        width: 70px;
    }
    .home .book-icon svg {
        width: 80px;
    }
    .home .mail-icon svg {
        width: 95px;
    }
    .home img {
        width: 450px;
        margin-bottom: 20px;
    }
}


/* LARGE */

@media (min-width: 1100px) {
    .home {
        gap: 30px;
    }
    .home img {
        width: 550px;
        margin-bottom: 20px;
    }
}