/* .main-contant{
margin-left: 10px;
color: #686f7a;
background-color: #f2f3f5;
padding: 20px;
} */

.email-details {
    background-color: #f2f3f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.email-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid #f2f3f5;
    padding: 20px 30px;
    border-top: 4px solid rgba(236, 82, 82, 1);
    height: 100%;
    line-height: 1.5em;
    /* align-items: center; */
}

.go-back-mail{
    background-color: rgb(223, 223, 223);
    padding: 5px;
    border-radius: 3px;
    width: 68px;
}

.det-btns{
    display: grid;
    grid-template-columns: 40px 40px;
}

.detail-body {
    white-space: pre-wrap;
    margin-top: 0;;
}

.email-from{
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

/* MEDIUM */

@media (min-width: 700px) {
    .email-details {
        width: 660px;
    }
}

/* LARGE */

@media (min-width: 1100px) {
    .email-details {
        width: 1060px;
    }
}