
.email-preview {
    box-shadow:  0 -1px 0 0 rgb(100 121 143 / 12%);
    color: #202124;
    font-size: 0.875rem;
    width: 100%;
    margin: 0;
    /* display: flex;
    position: relative */
}
/* 
.inbox-td{
    flex-grow: 1;
    padding-right: 16px;
} */

.email-list{
    border-collapse: collapse;
    display: flex;
    flex-flow: column nowrap;
    text-overflow: ellipsis;
    /* flex: 1 1 auto; */
}

.unread {
    font-family: roboto-bold,Helvetica,Arial,sans-serif;
}

.read{
    background-color: rgba(242,245,245,0.8);
    font-family: roboto-regular,Helvetica,Arial,sans-serif;
}

.delete-mail{
    content: url("../icon/delete_mail.png");
    cursor: pointer;

}

.img-read{
    content: url("../icon/mark_unread_mail.png");
    height: 24px;
    cursor: pointer;
}

.img-unread{
    content: url("../icon/mark_read_mail.png");
    height: 24px;
    cursor: pointer;

}