.email-preview {
    box-shadow: 0 -1px 0 0 rgb(100 121 143 / 12%);
    color: #202124;
    font-size: 0.875rem;
    width: 100%;
    margin: 0;

}



.email-list {
    border-collapse: collapse;
    width: 500px;
    margin-top:15px;

}

tr {
    flex-direction: column;
}

td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.email-body-prv {
    flex-grow: 1;
}


.del-td {
    display: inline;
}

.unread {
    font-family: roboto-bold, Helvetica, Arial, sans-serif;
}

.read {
    background-color: rgba(242, 245, 245, 0.8);
    font-family: roboto-regular, Helvetica, Arial, sans-serif;
}

.delete-mail {
    content: url("../icon/delete_mail.png");
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.img-read {
    content: url("../icon/mark_unread_mail.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.img-unread {
    content: url("../icon/mark_read_mail.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.email-body-prv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}
.email-sub-prv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* MEDIUM */

@media (min-width: 700px) {

    .email-list {
        width: 660px;
    }
    tr {
        flex-direction: row;
        width: 100%
    }
    .email-body-prv {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 288.03px;
    }
    .email-sub-prv {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .email-time {
        min-width: 100px;
    }
}

/* LARGE */

@media (min-width: 1100px) {

    .email-list {
        width: 1060px;
    }

    .email-body-prv {
        max-width: 720.03px;
    }
    tr {
        flex-direction: row;
        width: 100%
    }

}