.email-preview {
    color: #202124;
    margin: 10px;
    font-family: roboto-regular,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
}

.unread {
    font-family: roboto-bold,Helvetica,Arial,sans-serif;
}

.read{
    background-color: rgba(242,245,245,0.8);
    font-family: roboto-regular,Helvetica,Arial,sans-serif;
}

.delete-mail{
    content: url("../icon/delete_mail.png");
}

.img-read{
    content: url("../icon/mark_unread_mail.png");
    height: 24px;
}

.img-unread{
    content: url("../icon/mark_read_mail.png");
    height: 24px;

}