.email-search {
    width: 100%
}

.read-filter {
    display: inline-block;
}

@media (min-width: 700px) {
    .email-filter {
        /* width: 100%; */
        display: grid;
        grid-template-columns: 100px 1fr;
    }

}

/* LARGE */

@media (min-width: 1100px) {
    /* tr {
        flex-direction: row;
    }
    td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    } */

}