.book-filter {
    padding: 20px 0px;
    width: 100%;
    flex-direction: column;
}

.book-filter>* {
    margin: 5px 0;
}

.book-filter label {
    width: 70px;
}

.book-filter input {
    margin: 0 5px;
    flex: 1;
}