.search {
    width: 350px;
}

.search form {
    margin-bottom: 10px;
}

.search input {
    flex: 1;
    padding: 5px;
}

.search button {
    padding: 5px 10px;
}

.search-item {
    margin: 5px;
}

.search-item span {
    margin-right: 5px;
}

.add-link {
    background-color: rgb(228, 228, 228);
    padding: 5px 10px;
    border-radius: 3px;
}